%fieldset
  = f.text_field :title, skip_label: true, autofocus: true,
      placeholder: Note.human_attribute_name(:title)
  = f.text_area :content, skip_label: true
  .form-group.actions
    = f.submit class: 'btn btn-primary'

:coffee
  $('#note_content').summernote
    lang: '#{t("i18n.culture")}'
    dialogsFade: true
    disableDragAndDrop: true
    toolbar: [
      ['para', ['ul', 'ol', 'paragraph']]
      ['style', ['bold', 'italic', 'clear']]
      ['color', ['color']]
      ['insert', ['hr', 'link']]
    ]
