$("#{j render partial: 'notes/item', object: @note, as: :note}").prependTo('#note-list');
$("##{dom_id @note}").addClass('opacity-0 animated-panel fadeIn');
$('#note-form').html("#{j render partial: 'notes/new'}");
