$("##{dom_id @note}").replaceWith("#{j render partial: 'notes/item', object: @note, as: :note}");
$("##{dom_id @note}").addClass('animated-panel zoomIn');
$('#note-form').html("#{j render partial: 'notes/new'}");
