.hpanel
  .panel-heading.hbuilt
    = icon('archive', t('history.panel.header'))
  .panel-body.no-padding
    %ul.list-group
    = render partial: 'customers/history_item', collection: @other_customers, as: :customer
