.hpanel
  .panel-body
    %h4= t('.header')
    = bootstrap_form_for @search, url: people_path, method: :get, enforce_utf8: false do |f|
      %fieldset
        = f.search_field :keyword, class: 'form-control',
            placeholder: t('.placeholder'),
            skip_label: true
      %small= t('.help')
