$("#{j render partial: 'item', collection: @people, as: :person}").appendTo($('.infinite-scroll > .infinite-content'));

- if @people.last_page?
  $('.infinite-pagination > a').remove();
- else
  $('.infinite-pagination').html("#{j link_to_next_page @people, '', remote: true, params: {person_search: @person_search_params.to_h}}");
