$('#modal').modal('hide');
$("#{j render partial: 'relationships/item', object: @relationship, as: :relationship}").appendTo('#relationship-list');
$("##{dom_id @relationship}").animateCss('fadeIn');
