$('#modal').modal('hide');
$("##{dom_id @relationship}").replaceWith("#{j render partial: 'relationships/item', object: @relationship, as: :relationship}");
$("##{dom_id @relationship}").addClass('animated-panel zoomIn');
