.hpanel
  .panel-heading.hbuilt
    = icon('envelope-open-o', t('documents.panel.header'))
  .panel-body
    = render partial: 'documents/list', object: @liaison, as: :documentable
    - unless editing_disabled?
      .hr-line-dashed
      = render partial: 'documents/new', object: @liaison, as: :documentable
