.hpanel.hidden-print
  .panel-heading.hbuilt
    .pull-right
      = link_to icon('plus', t('images.panel.upload')), '#image-upload',
          class: 'btn btn-xs btn-success',
          data: {toggle: 'collapse'}
    = icon('film', t('images.panel.header'))
  .panel-body
    = render partial: 'images/list', object: @user, as: :imageable
    #image-upload.collapse
      .hr-line-dashed
      = render partial: 'images/new', object: @user, as: :imageable
