.profile-picture
  .stats-label.text-color
    %span.font-extra-bold.font-uppercase Elina Salo
    .dropdown
      %a.dropdown-toggle{data: {toggle: 'dropdown'}}
        %small.text-muted
          Pääkäyttäjä
          %b.caret
      %ul.dropdown-menu.animated.flipInX.m-t-xs
        %li
          %a{href: 'profile'} Oma profiili
        %li.divider
        %li
          %a{href: 'logout'} Kirjaudu ulos
