.normalheader.small-header
  .hpanel
    .panel-body
      #print-logo.pull-right.visible-print= image_tag 'folio-logo.svg'
      #hbreadcrumb.pull-right
        %ol.hbreadcrumb.breadcrumb
          = yield :breadcrumb
      = yield :header
