$('#modal').modal('hide');
$("##{dom_id @event}").replaceWith("#{j render partial: 'events/item', object: @event, as: :event}");
$("##{dom_id @event}").addClass('animated-panel zoomIn');
$('#calendar').fullCalendar('refetchEvents');
