.hpanel.hidden-print
  .panel-heading.hbuilt
    .pull-right
      = link_to icon('plus', t('documents.panel.upload')), '#document-upload',
          class: 'btn btn-xs btn-success',
          data: {toggle: 'collapse'}
    = icon('envelope-open-o', t('documents.panel.header'))
  .panel-body
    #document-upload.collapse
      = render partial: 'documents/new', object: @customer, as: :documentable
      .hr-line-dashed
    .slim-scroll{style: 'max-height: 200px; padding-right: 20px;'}
      = render partial: 'documents/list', object: @customer, as: :documentable
