.hpanel.hidden-print
  .panel-heading.hbuilt
    = icon('envelope-open-o', t('documents.panel.header'))
  .panel-body
    = render partial: 'documents/list', object: @customer, as: :documentable
    .hr-line-dashed
    = render partial: 'documents/new', object: @customer, as: :documentable
