.media
  .media-image.col-md-2
    = profile_image(@post.author)
    .author-info
      .font-bold= @post.author
  .media-body
    = bootstrap_form_for @post,
        remote: true, html: {novalidate: true} do |edit_post|
      = render partial: 'posts/form', locals: {f: edit_post}
