.p-m.border-bottom
  %span.font-bold= title(Activity, count: 2)
  #activity-list.m-t-md

:coffee
  $ ->
    $('#sidebar').on 'click', ->
      $.ajax
        type: 'GET'
        url: '#{sidebar_activities_path(format: :js)}'
        data:
          gid: '#{resource.to_global_id.to_s}'
