$("#{j render partial: 'item', collection: @activities, as: :activity}").appendTo($('.infinite-scroll > .infinite-content'));

- if @activities.last_page?
  $('.infinite-pagination > a').remove();
- else
  $('.infinite-pagination').html("#{j link_to_next_page @activities, '', remote: true, params: {activity_search: @activity_search_params.to_h}}");
