$('#review-form').html("#{j render partial: 'reviews/edit'}");
$("#{j render partial: 'reviews/item', object: @review, as: :review}").prependTo('#review-list');
$("##{dom_id @review}").animateCss('fadeIn').readmore_handler();
