$("##{dom_id @review}").replaceWith("#{j render partial: 'reviews/item', object: @review, as: :review}");
$("##{dom_id @review}").addClass('animated-panel zoomIn').readmore_handler();
$('#review-form').html("#{j render partial: 'reviews/new'}");
