%tr{class: memo.collected_by?(current_user) ? '' : 'font-extra-bold', data: {href: memo_path(memo)}}
  %td= icon(memo.icon, class: 'fa-lg')
  %td{class: memo.sender.deleted? && 'deleted'}
    = memo.sender
  %td= memo.title
  %td.text-right.mail-date= l(memo.created_at, format: :long)
