= form_for [imageable, imageable.images.new],
    authenticity_token: true, enforce_utf8: false,
    html: {class: 'dropzone'} do |f|
  .fallback
    %fieldset
      = f.file_field :attachment
      = f.submit class: 'btn btn-primary'
  .dz-message
    %i.pe-7s-upload.pe-4x
    %p.small= t('dropzone.default_message')

:coffee
  Dropzone.options.newImage =
    paramName: 'image[attachment]'
    init: ->
      @on 'success', (file, image) ->
        $.get image['image_path']
        this.removeFile(file)
